:root
{
    height: 100vh;
    width: 100vw;
}
body
{
    background-color: black;
    height: 100%;
    width: 100%;
}
p
{
    color: white;
}
.knapp
{
    border: 5px solid white;
    border-radius: 10px;
}
#number
{
    background-color: white;
}
.gif
{
    height: 100%;
    width: auto;
}